.button {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  height: 40px;
  .text-typeface-1();
  color: #ffffff;
  background-color: @main-color;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  border: none;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .button {
    padding-top: 17px;
    padding-bottom: 15px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
  }
}
