.subtitle {
  .reset-indents();
  margin-right: 24px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.subtitle__line {
  position: relative;
  flex-grow: 1;


  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: @main-color;
  }
}
