.page-header {
  position: relative;
}

.page-header__wrapper {
  padding: 12px 0;
  border-bottom: @border;
}

.page-header__logo {
  display: block;
  .indents();
  margin-right: auto;
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .indents-tablet();
    padding-top: 24px;
  }

  .page-header__wrapper {
    padding: 0;
    width: 27%;
    border: none;
  }


  .page-header__logo {
    padding: 0;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    .indents-desktop();
    padding-top: 54px;
  }

  .page-header__wrapper {
    width: 202px;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }
}
