.site-list {
  .reset-list();
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-list__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: inherit;
  border-bottom: @border;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #222222;
  }

  .site-list__item {
    margin-right: 35px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .site-list__link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;

    &--active {
      border-bottom: 2px solid @main-color;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    font-size: 20px;
    color: #ffffff;
  }

  .inner .site-list {
    color: #111111;
  }

  .site-list__link--active {
    border-bottom-color: #ffffff;
  }

  .inner .site-list__link--active {
    border-bottom-color: @main-color;
  }
}
