.additional-list {
  .indents();
  margin-bottom: 42px;
  margin-bottom: 33px;
}

.additional-list__label {
  position: relative;
  display: block;
  margin-right: 0;
  margin-bottom: 24px;
  padding-left: 46px;
}
