.contacts-list__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

@media (min-width: @desktop-width) {
  .contacts-list {
    display: flex;
    margin-left: 40px;
    margin-bottom: 65px;
  }

  .contacts-list__item {
    width: 570px;

    &:nth-child(2n-1) {
      margin-right: 80px;
    }
  }
}
