.input {
  flex-grow: 1;
  padding: 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  .text-typeface-1();
  font-size: 16px;
  text-transform: uppercase;

  &--name {
    padding-top: 14px;
    padding-bottom: 13px;
  }

  &--weight,
  &--age {
    padding-top: 11px;
    padding-bottom: 14px;
  }

  &--mail,
  &--tel {
    padding: 12px 15px 14px;
  }

  &--text {
    padding: 13px 14px;
    width: 100%;
    min-height: 150px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus,
  &:active {
    border: 2px solid #444444;
  }

  &:hover ~ .input__icon,
  &:focus ~ .input__icon,
  &:active ~ .input__icon {
    fill: @main-color;
  }

  &::placeholder {
    .text-typeface-1();
    font-size: 16px;
    text-transform: uppercase;
  }

  &--error {
    border: 2px solid #ff8282;
  }
}

.input__icon {
  position: absolute;
  fill: #666666;

  &--mail {
    top: 34%;
    right: 10%;
    width: 17px;
    height: 13px;
  }

  &--tel {
    top: 30%;
    right: 10%;
    width: 20px;
    height: 20px;
  }

  &--error {
    fill: #ff8282;
  }
}

@media (min-width: @tablet-width) {
  .input {
    padding: 16px 20px;
    font-size: 20px;
    line-height: 20px;

    &--tel {
      padding: 17px;
    }

    &--text {
      margin: 0 65px 0 69px;
      width: 82.6%;
      min-height: 174px;
      padding: 13px 17px;
    }

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .input__icon--mail {
    top: 37.5%;
    right: 2.8%;
    width: 18px;
    height: 14px;
  }

  .input__icon--tel {
    top: 33%;
    right: 2.5%;
  }
}

@media (min-width: @desktop-width) {
  .input::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .input--text {
    width: 94%;
    margin: 0 40px;
  }

  .input__icon--mail {
    right: 3.8%;
  }

  .input__icon--tel {
    right: 3%;
  }
}
