.page-selection__title {
  padding-left: 20px;
  margin-bottom: 25px;
  padding-top: 14px;
}

.page-selection__text {
  .reset-indents();
  padding-left: 20px;
  .text-typeface-1();
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .page-selection__title {
    padding-left: 30px;
    margin-bottom: 55px;
    padding-top: 55px;
  }

  .page-selection__text {
    margin-bottom: 67px;
    padding-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-selection__title {
    padding-left: 40px;
    padding-top: 73px;
    margin: 0 auto;
    margin-bottom: 56px;
  }

  .page-selection__text {
    padding-left: 40px;
    margin: 0 auto;
    margin-bottom: 64px;
  }
}
