.page-selection__title {
  padding-left: 20px;
  margin-bottom: 35px;
  margin-top: 30px;
}

.page-selection__text {
  .reset-indents();
  padding-left: 20px;
  padding-right: 74px;
  .text-typeface-1();
  color: #111111;
  text-transform: uppercase;
}
