.programm-list {
  .reset-list();
  padding: 25px 20px;
  padding-bottom: 0;
}

.programm-list__label {
  position: relative;
  display: block;
  margin-right: 0;
  margin-bottom: 26px;
  padding-left: 46px;
}

@media (min-width: @tablet-width) {
  .programm-list {
    padding: 30px 50px;
  }
}
