.programm-list {
  .reset-list();
  .indents();
  padding-bottom: 0;
}

.programm-list__label {
  position: relative;
  display: block;
  margin-right: 0;
  margin-bottom: 26px;
  padding-left: 44px;
}

@media (min-width: @tablet-width) {
  .programm-list {
    margin-left: 40px;
    margin-right: 35px;
    padding-top: 33px;
    padding-left: 12%;
    border: 1px solid #ededed;
  }

  .programm-list__label {
    padding-left: 0;
    margin-bottom: 33px;
  }
}

@media (min-width: @tablet-width) {
  .programm-list {
    padding: 30px 50px;
  }
}
