.additional-goods {
  padding-top: 31px;
}

.additional-goods__wrapper {
  margin-right: 20px;
  margin-left: 20px;
  border-top: @border;
}

@media (min-width: @tablet-width) {
  .additional-goods {
    padding-top: 0;
  }

  .additional-goods__wrapper {
    margin-right: 30px;
    margin-left: 30px;
    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods {
    margin-bottom: 85px;
  }

  .additional-goods__wrapper {
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
