.catalog__title {
  .indents();
  padding-top: 13px;
  padding-bottom: 29px;
}

.catalog__list {
  .reset-list();
}

.catalog__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 19px 20px 19px;
  border: @border;

  &:not(:first-child) {
    border-top: none;
  }

  &--more-products {
    padding-top: 80px;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    .indents-tablet();
    margin-bottom: 70px;
  }

  .catalog__title {
    text-align: left;
    padding-top: 65px;
    padding-bottom: 74px;
    border-bottom: none;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    position: relative;
    width: 324px;
    min-height: 431px;
    margin-right: 60px;
    margin-bottom: 140px;
    padding: 165px 37px 40px 38px;
    background-color: @grey-color;
    border-bottom: none;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &&--more-products {
      background-color: #ffffff;
      border: 1px solid rgba(205, 205, 205, 0.5);
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    .indents-desktop();
  }

  .catalog__title {
    text-align: left;
    padding-top: 83px;
    padding-bottom: 75px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 140px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }
}
