.catalog-table {
  width: 146px;
  margin-left: -3px;
}

.catalog-table__cell {
  font-family: @font-text;
  .text-typeface-2();
  line-height: 12px;

  &--left {
    width: 72px;
  }

  &--right {
    width: 68px;
    text-align: right;
  }
}

@media (min-width: @tablet-width) {
  .catalog-table {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 100%;
    min-height: 92px;
    border-collapse: collapse;
  }

  .catalog-table__cell {
    padding: 0;
    font-size: 16px;
  }

  .catalog-table__row {
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: @border;

    &:first-child {
      padding-top: 0;
    }
  }
}
