.catalog__title {
  text-align: center;
  padding-top: 31px;
  padding-bottom: 35px;
  border-bottom: @border;
}

.catalog__list {
  .reset-list();
}

.catalog__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 20px;
  border-bottom: @border;

  &--more-products {
    padding-top: 83px;
  }
}
