.offer {
  margin: 40px 0 35px 0;
  background-color: @main-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
}

.offer__text {
  position: relative;
  padding-top: 193px;
  padding-bottom: 43px;
  width: 161px;
  margin: 0 auto;
  font-family: @font-text;
  color: #ffffff;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 113px;
    margin-left: -56px;
    width: 56px;
    height: 61px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../../img/icon-gift.svg");
  }
}
