.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 20px 22px 20px;
  background-color: @grey-color;
}

.page-footer__wrapper-logo {
  width: 100%;
  padding-bottom: 28px;
  text-align: center;
  border-bottom: @border;
}

.page-footer__logo {
  width: 128px;
  height: 24px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__wrapper-list {
  padding-top: 22px;
  padding-bottom: 18px;
  width: 100%;
  border-bottom: @border;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 51px 30px 60px 30px;
  }

  .page-footer__wrapper-logo {
    padding-bottom: 0;
    width: 146px;
    text-align: left;
    border-bottom: none;
  }

  .page-footer__wrapper-list {
    padding-top: 0;
    padding-bottom: 0;
    width: 125px;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 62px 40px;
  }

  .page-footer__wrapper-logo {
    margin-right: 412px;
  }

  .page-footer__wrapper-list {
    margin-right: 394px;
    border-bottom: none;
  }
}
