.advantages {
  .indents();
  margin-bottom: 20px;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__list {
  .reset-list();
  padding-left: 80px;
}

.advantages__description {
  .reset-indents();
  .text-typeface-1();
  font-family: @font-text;
}

.advantages__description br {
  display: none;
}

.advantages__item {
  position: relative;
  margin-bottom: -1px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: @main-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: -65px;
    background-repeat: no-repeat;
    background-position: -10px -10px;
  }

  &--leaf::after {
    width: 26px;
    height: 29px;
    background-image: url("../../img/advantage-leaf@1x.png");
  }

  &--powder::after {
    width: 29px;
    height: 31px;
    background-image: url("../../img/advantage-powder@1x.png");
  }

  &--dining::after {
    width: 29px;
    height: 31px;
    background-image: url("../../img/advantage-dining@1x.png");
  }

  &--clock::after {
    width: 28px;
    height: 31px;
    background-position: -10px -10px;
    background-image: url("../../img/advantage-clock@1x.png");
  }
}

.advantages__number {
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    .indents-tablet();
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 42px;
  }

  .advantages__title {
    margin-bottom: 72px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 102px;
  }

  .advantages__item {
    width: 45.7%;
    padding-left: 0;
    padding-top: 112px;
    margin-bottom: 133px;
    margin-right: 8.4%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 8%;
    }
  }

  .advantages__description {
    position: relative;
    z-index: 2;
    width: 76%;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-right: 0;
  }

  .advantages__description br {
    display: block;
  }

  .advantages__number {
    position: absolute;
    top: -38px;
    right: 85px;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;

    &--leaf {
      right: 29%;
    }

    &--powder {
      right: 24%;
    }

    &--dining {
      right: 24%;
    }

    &--clock {
      right: 23%;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    .indents-desktop();
    margin-bottom: 36px;
    border: none;
  }

  .advantages__item {
    width: 245px;
    margin-bottom: 90px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &::after {
      left: 10%;
    }
  }

  .advantages__list {
    padding: 0;
    margin-bottom: 0;
  }

  .advantages__title {
    margin-bottom: 72px;
  }

  .advantages__description {
    width: 245px;
  }

  .advantages__number {
    &--leaf {
      right: 15px;
    }

    &--powder {
      right: 0;
    }

    &--dining {
      right: -2px;
    }

    &--clock {
      right: -4px;
    }
  }
}
