.columns {
  .indents();
}

.columns__item {
  padding: 31px 0 20px 0;
  background-color: @grey-color;

  &--slimming {
    margin-bottom: 20px;
  }

  &--gain-weight {
    margin-bottom: 16px;
  }
}

.columns__title {
  position: relative;
  .reset-indents();
  padding-left: 91px;
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: @main-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--slimming::after {
    top: -8px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../../img/icon-cat-slim.svg");
  }

  &--gain-weight::after {
    top: 4px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../../img/icon-cat-pro.svg");
  }
}

.columns__description {
  position: relative;
  .reset-indents();
  .indents();
  margin-bottom: 40px;
  font-family: @font-text;
  .text-typeface-1();

  &::after {
    content: "";
    position: absolute;
    bottom: -23px;
    right: 20px;
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
  }
}

.columns__link {
  position: relative;
  padding-top: 17px;
  padding-left: 20px;
  line-height: 16px;
  color: inherit;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: -35px;
    width: 24px;
    height: 11px;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .columns {
    .indents-tablet();
  }

  .columns__item {
    padding: 81px 55px 62px;

    &--slimming {
      margin-bottom: 30px;
    }

    &--gain-weight {
      margin-bottom: 51px;
    }
  }

  .columns__title {
    padding-left: 0;
    margin-bottom: 26px;
    font-size: 36px;

    &::before {
      top: -5px;
      left: 390px;
      width: 200px;
      height: 200px;
    }

    &--slimming::after {
      top: -18px;
      left: 420px;
      width: 140px;
      height: 194px;
    }

    &--gain-weight::after {
      top: 50px;
      left: 355px;
      width: 268px;
      height: 112px;
    }
  }

  .columns__description {
    margin-bottom: 61px;
    font-size: 16px;
    line-height: 24px;

    &--slimming {
      width: 372px;
    }

    &--gain-weight {
      width: 340px;
    }
  }

  .columns__link {
    padding-top: 0;
    font-size: 20px;
    line-height: 20px;

    &:active {
      opacity: 0.3;
    }

    &::after {
      top: 8px;
    }

    &:hover::after,
    &:focus::after {
      right: -44px;
      width: 33px;
      height: 11px;
      background-image: url("../../img/icon-right-arrow-verylong.svg");
    }

    &:active::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .columns {
    display: flex;
    justify-content: space-between;
    .indents-desktop();
  }

  .columns__item {
    width: 570px;
    padding: 81px 56px 62px 52px;
  }

  .columns__title {
    padding-left: 165px;
    margin-bottom: 80px;

    &::before {
      top: -15px;
      left: 22px;
      width: 100px;
      height: 100px;
    }

    &--slimming::after {
      top: -20px;
      left: 40px;
      width: 70px;
      height: 97px;
    }

    &--gain-weight::after {
      top: 0;
      left: 0;
      width: 134px;
      height: 56px;
    }
  }

  .columns__description {
    width: 100%;
  }
}
