.columns {
  .indents();
  margin-bottom: 17px;
}

.columns__item {
  padding: 30px 0 20px 0;
  background-color: @grey-color;

  &--slimming {
    margin-bottom: 20px;
  }
}

.columns__title {
  position: relative;
  .reset-indents();
  padding-left: 91px;
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: @main-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--slimming::after {
    top: -8px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
  }

  &--gain-weight::after {
    top: 5px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.columns__description {
  position: relative;
  .reset-indents();
  .indents();
  margin-bottom: 40px;
  font-family: @font-text;
  .text-typeface-1();

  &::after {
    content: "";
    position: absolute;
    bottom: -23px;
    right: 7%;
    width: calc(100% - 14%);
    height: 1px;
    background-color: #d9d9d9;
  }
}

.columns__link {
  position: relative;
  padding-top: 17px;
  padding-left: 20px;
  line-height: 16px;
  color: inherit;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 28px;
    right: -32px;
    width: 21px;
    height: 3px;
    background-color: #111111;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    right: -35px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: #111111;
    border-right: 0;
  }
}

@media (min-width: @tablet-width) {
  .columns {
    .indents-tablet();
    margin-bottom: 45px;
  }

  .columns__item {
    padding: 73px 53px 60px;

    &--slimming {
      margin-bottom: 33px;
    }
  }

  .columns__title {
    padding-left: 0;
    margin-bottom: 25px;
    font-size: 36px;

    &::before {
      top: 16px;
      left: 65.4%;
      width: 200px;
      height: 200px;
    }

    &--slimming::after {
      top: 4px;
      left: 70.3%;
      width: 140px;
      height: 194px;
    }

    &--gain-weight::after {
      top: 58px;
      left: 59.7%;
      width: 268px;
      height: 112px;
    }
  }

  .columns__description {
    padding: 0;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;

    &--slimming {
      width: 62%;
    }

    &--gain-weight {
      width: 57%;
    }

    &::after {
      display: none;
    }
  }

  .columns__link {
    padding: 0;
    font-size: 20px;
    line-height: 20px;

    &:active {
      opacity: 0.3;
    }

    &::after {
      top: 14px;
      right: -44px;
    }

    &::before {
      top: 10px;
      right: -47px;
    }

    &:hover::after,
    &:focus::after {
      // right: -44px;
      width: 30px;
    }

    &:active::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .columns {
    display: flex;
    justify-content: space-between;
    .indents-desktop();
    margin-bottom: 73px;
  }

  .columns__item {
    width: 570px;
    padding: 76px 56px 62px 52px;
    margin-bottom: 0;
  }

  .columns__title {
    padding-left: 162px;
    margin-bottom: 73px;

    &::before {
      top: -30px;
      left: 0;
      width: 100px;
      height: 100px;
    }

    &--slimming::after {
      top: -36px;
      left: 13px;
      width: 70px;
      height: 97px;
    }

    &--gain-weight::after {
      top: -8px;
      left: -18px;
      width: 134px;
      height: 56px;
    }
  }

  .columns__description {
    width: 100%;
    margin-bottom: 30px;
  }
}
