.illustration {
  .indents();
  padding-bottom: 39px;
  background-color: @grey-color;
}

.illustration__title {
  margin-bottom: 33px;
}

.illustration__description {
  .text-typeface-1();
  padding-right: 14px;
  margin-bottom: 27px;
  font-family: @font-text;
}

.illustration__list {
  display: flex;
  .reset-list();
  margin-bottom: 33px;
  overflow: hidden;
}

.illustration__item {
  flex-shrink: 0;
  width: 311px;
}

.illustration__image {
  width: 311px;
  height: 232px;
  margin-bottom: 35px;
}

.illustration__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin: 0 auto;
}

.illustration-toggles__button::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  display: none;
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
}

.illustration-toggles__button {
  position: relative;
  padding: 0;
  width: 40px;
  border: none;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;

  &:hover::after,
  &:focus::after {
    display: block;
  }

  &:active::after {
    display: none;
  }
}

.illustration-toggles__bar {
  position: relative;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: @border;
  background-color: #ffffff;
}

.illustration-toggles__slider {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @main-color;
}

@media (min-width: @tablet-width) {
  .illustration {
    background-color: #ffffff;
  }
}
