.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.indents {
  padding: 0 20px;
}

.reset-indents {
  margin: 0;
}

.main-typeface {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
}

.text-typeface-1 {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.text-typeface-2 {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
